<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${postTitle}"></title>
    <style>
        h1 {
            font-family: "Roboto Light", serif;
            align-content: center;
            height: 75px;
            background-color: #4CAF50;
            color: white;
        }
        h3 {
            font-family: "Roboto Light", serif;
            align-content: center;
            width: 200px;
            height: 50px;
        }
        p {
            font-family: "Roboto Light", serif;
            align-content: center;
        }
    </style>
</head>
<body>

<h1 th:text="${postTitle}">Post title</h1>
<h3>
    <span>Posted by </span>
    <a th:href="@{/profile/get/{username}(username=${op})}" th:text="${op}">User</a>
    <span th:text="' at ' + ${createdAt} + ' in ' + ${category}"> at Date in Category</span>
</h3>

<p th:text="${content}">content</p>

<button type="button" onclick="location.href='/home'">Home</button>

</body>
</html>
